%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
       ]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [
              unmatched_returns, race_conditions, unknown
             ]}
 ]}.

{profiles, [
  {test, [
    {deps, [{'disable_tco', {git, "https://github.com/slepher/disable_tco.git", {branch, "master"}}}]},
    {erl_opts, [{parse_transform, disable_tco}, nowarn_export_all]}
  ]}
]}.
